extends backstage

block content2
	div#change
		h4#change-title.clearfix 页面信息修改
			button#change-button.btn.btn-success 
				a(href="/backstage/change/course") 课程介绍
			button#change-button.btn.btn-success  
				a(href="/backstage/change/introduction") 学校简介
			button#change-button.btn.btn-success  
				a(href="/backstage/change/index") 主頁
		p#change-line
		block content3
				

	
