extends change-introduction

block content3-idea
	table.table.table-striped.table-bordered
		tr
			td idea
			td 
				form(method="post" action="/backstage/change/introduction/idea").form-idea
					div#item-idea-title
						input(type="text" name="title" placeholder="标题")
						input(type="text" name="desc1" placeholder="副标题1")
						input(type="text" name="desc2" placeholder="副标题2")
					div#item-idea-desc
						input(type="text" name="desc3_li" placeholder="描述1")
						input(type="text" name="desc3_li" placeholder="描述2")
						input(type="text" name="desc3_li" placeholder="描述3")
						input(type="text" name="desc3_li" placeholder="描述4")
						input(type="text" name="desc3_li" placeholder="描述5")
					input#form-idea-submit(type="submit" value="提交")