extends change

block content3
	div#change-index-banner
		h4#change-index-title 
			a(href="/backstage/change/index/banner") banner
		block content3-banner
	div#change-index-about
		h4#change-index-title 
			a(href="/backstage/change/index/about") about
		block content3-about
	div#change-index-course
		h4#change-index-title 
			a(href="/backstage/change/index/course") course
		block content3-course
	div#change-index-FAQ
		h4#change-index-title 
			a(href="/backstage/change/index/faq") faq
		block content3-faq