extends change

block content3
	div#change-introduction-history
		h4#change-introduction-title 
			a(href="/backstage/change/introduction/history") history
		block content3-history
	div#change-introduction-team
		h4#change-introduction-title 
			a(href="/backstage/change/introduction/team") team
		block content3-team
	div#change-introduction-honor
		h4#change-introduction-title 
			a(href="/backstage/change/introduction/honor") honor
		block content3-honor
	div#change-introduction-idea
		h4#change-introduction-title 
			a(href="/backstage/change/introduction/idea") idea
		block content3-idea