extends change-index

block content3-banner
	table.table.table-striped.table-bordered
		tr
			td banner
			td 
				form(enctype="multipart/form-data" method="post" action="/backstage/change/index/banner")#form-banner
					input#banner-input(type="file" name="uploadbanner")
					input#banner-input(type="file" name="uploadbanner")
					input#banner-input(type="file" name="uploadbanner")
					input(type="submit" value="提交")