extends change-introduction

block content3-team
	table.table.table-striped.table-bordered
		tr
			td team
			td 
				form(enctype="multipart/form-data" method="post" action="/backstage/change/introduction/team").form-team
					
					div#item-team-title
						input(type="text" name="title" placeholder="标题")
						input(type="text" name="desc1" placeholder="副标题1")
						input(type="text" name="desc2" placeholder="副标题2")
					div#item-team-images
						input(type="file" name="img")
						input(type="text" name="images_title" placeholder="描述1")
					div#item-team-images
						input(type="file" name="img")
						input(type="text" name="images_title" placeholder="描述2")
					div#item-team-images
						input(type="file" name="img")
						input(type="text" name="images_title" placeholder="描述3")
					div#item-team-images
						input(type="file" name="img")
						input(type="text" name="images_title" placeholder="描述4")
					div#item-team-images
						input(type="file" name="img")
						input(type="text" name="images_title" placeholder="描述5")
					div#item-team-images
						input(type="file" name="img")
						input(type="text" name="images_title" placeholder="描述6")
						
					input#form-team-submit(type="submit" value="提交")