extends change

block content3
	div#change-course-img
		h4#change-course-title 
			a(href="/backstage/change/course/img") img
		block content3-img
	div#change-course-span
		h4#change-course-title 
			a(href="/backstage/change/course/span") span
		block content3-span
	div#change-course-li
		h4#change-course-title 
			a(href="/backstage/change/course/li") li
		block content3-li